<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <title>test</title>
  <link href="/differenttaste/static/css/app.ad73b7211b041f87d40028de6792ebb0.css" rel="stylesheet"></head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="/differenttaste/static/js/manifest.639873346a139e5430f0.js"></script><script type="text/javascript" src="/differenttaste/static/js/vendor.b8c5db50d2d77d063490.js"></script><script type="text/javascript" src="/differenttaste/static/js/app.f760ce5a459f7dd936e1.js"></script></body>
</html>
