<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <title>test</title>
  <link href="/differenttaste/static/css/app.19d30df6b822f2cbf91b487b2fee8113.css" rel="stylesheet"></head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="/differenttaste/static/js/manifest.044cfc945188298efcfe.js"></script><script type="text/javascript" src="/differenttaste/static/js/vendor.eedb71cdeeb292e82f1f.js"></script><script type="text/javascript" src="/differenttaste/static/js/app.2f1ab03cb4239e447676.js"></script></body>
</html>
